{% extends "layout.html" %}
  {% block body %}

    <header class="masthead" style="background-image: url('  {{url_for('static', filename='img/cricketscore1.jpg') }}    ')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>{{params['blog_name']}}</h1>
            <span class="subheading"> </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  	
  </div>

  {% endblock %}